<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand">
          <img src="app/public/images/logo.png" style="display: inline-block;">
          <span style="display: inline-block;"><h3>Phonics: Short Vowels</h3></span>
        </a>    
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-question-sign" style="font-size: 40px;"></span></a></li>
    </ul>
  </div>
</nav>

<footer class="navbar-fixed-bottom"></footer>